<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>585772726077-8udpca7f337vd0satvbmptmieq16cs5g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.585772726077-8udpca7f337vd0satvbmptmieq16cs5g</string>
	<key>API_KEY</key>
	<string>AIzaSyCL56eXopxtNlA4-yUui1xVY0aDJMUZQ7s</string>
	<key>GCM_SENDER_ID</key>
	<string>585772726077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fbAuthBloc</string>
	<key>PROJECT_ID</key>
	<string>fb-auth-bloc2</string>
	<key>STORAGE_BUCKET</key>
	<string>fb-auth-bloc2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585772726077:ios:8b8852b3ca7a2dfac6b754</string>
</dict>
</plist>